  <% if @pictures != nil%>
		  <% for @picture in @pictures %>
    
            
                <a href="photos/<%=@picture.id%>">
                  
                  <%= image_tag @picture.image_url(:thumb).to_s%>
                  </a>
                          

               
                 <a href = "/users/<%=@picture.user_id%>">
                    
                        <%= image_tag User.find_by_id(@picture.user_id).image_url(:supertinythumb) %>
                   
                 </a>
                     
                        <p> <%= User.find_by_id(@picture.user_id).username %></p>
                        <p> <%= @picture.created_at%></p>
                    
                
  <% end %>
        <% end %>

<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>

